$width: 30px;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: calc(clamp(1.5rem, 1.21rem + 1.43vw, 2.5rem));

  // logo
  &__logo {
    width: 48px;
    cursor: pointer;

    @include large {
      width: 64px;
    }
  }

  // toggler
  &__toggler {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 4px;
    cursor: pointer;

    &--item {
      display: block;
      background-color: $primaryColor;
      width: $width;
      height: 3px;

      &:first-child {
        width: calc(#{$width} / 2);
      }

      &:nth-child(2) {
        width: calc(#{$width} * 0.7);
      }
    }
  }

  // nav
  &__nav {
    position: fixed;
    inset: 0;
    z-index: 25;
    width: 100%;
    height: 0%;
    background-color: $black;
    overflow: hidden;
    transition: height 300ms ease-in-out;

    &.open {
      height: 100%;
    }

    &--close {
      font-size: 4rem;
      position: absolute;
      left: 90%;
      cursor: pointer;

      @include large {
        top: 5%;
      }
    }

    &--list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      gap: 20px;
    }

    &--link {
      color: $gray;
      font-size: 40px;
      padding-block: 10px;
      font-weight: 600;
    }
  }
}
